@tailwind base;
@tailwind utilities;

@layer base {
  :root {
    --blue-400: theme(colors.blue.400);
    --slate-200: theme(colors.slate.200);
    --slate-300: theme(colors.slate.300);
    --gray-300: theme(colors.gray.300);
    --gray-400: theme(colors.gray.400);
  }
}
